input[type=text]  {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color:rgb(108, 108, 236) ;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
    
 
  
 select{
    text-align: center;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: rgb(120, 120, 223);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
 }

 h3{
    text-align: center;
}

P{
    text-align: center;
}

 .conteiner{
    align-tracks: center;
    color: rgb(70, 9, 9);
    border-radius: 9px;
 }

.conteiner{text-align: center;}
.dados{text-align: center;}
.docs{text-align: center;}
.sexo{text-align: center;}
.curso{text-align: center;}

input[type=submit], button{
  background-color: rgb(98, 129, 231);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 300px;
  border-radius: 20px; 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



